@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

@layer components {
  .fancy-link {
    @apply bg-gradient-to-br from-slate-800 to-slate-800 bg-[length:0%_2px] bg-left-bottom bg-no-repeat duration-500 ease-out hover:bg-[length:100%_2px] dark:from-white dark:to-white;
  }

  .proper-border {
    @apply border border-gray-300 dark:border-gray-700;
  }
}

@keyframes scaleProgress {
  0% {
    transform: scale(0, 1);
  }
  100% {
    transform: scale(1, 1);
  }
}

@keyframes colourChange {
  0% {
    background-color: red;
  }
  50% {
    background-color: yellow;
  }
  100% {
    background-color: #0b6434;
  }
}

.progress {
  animation:
    scaleProgress auto linear,
    colourChange auto linear;
  animation-timeline: scroll();
}
